<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% block content %}
<div class="container-fluid mt-5" style="margin-bottom:60px;">
    <h6>Customer Name:{{u}}</h6>

    <div class="row">
        <h4 style="color:red">Order Details</h4>
        {% for i in o %}
        <div class="col-sm-3 my-3 py-2 border border-1 border-secondary">
           <center> <img src="{{i.book.image.url}}" height="150px" width="150px"></center>
        </div>
        <div class="col-sm-7 my-3 pe-3  border border-1 border-secondary">
            <b> Delivery Address:{{i.address}}</b><br>
            <b> Customer Phone:{{i.phone}}</b><br>
            <b> Book name:{{i.book.name}}</b><br>
            <b> Price Address:{{i.book.price}}</b><br>
            <b> No of items:{{i.no_of_items}}</b><br>
            <b> Ordered On:{{i.date_ordered}}</b><br>
            <b> DeliveryStatus:<span class="text-danger">{{i.delivery_status}}</span></b><br>
        </div>


    {% endfor %}
        </div>
</div>
{% endblock %}

